.git
.gitignore
.vscode

bin/
obj/
EasyFile.Tests/bin/
EasyFile.Tests/obj/

easyfile-frontend/node_modules/
easyfile-frontend/dist/
easyfile-frontend/build/

Logs/
**/Logs/

.env
.env.*
appsettings.Development.json
